.container {
  position: relative;
  width: 50%;
}

iframe {
  width: 100vw;
}

.Cover-content h1 {
  font-size: 60px;
  margin-bottom: 5px;
  margin-right: 0px;
  margin-left: 0px;
}

.text-center {
  display: flex;
  justify-content: center;
}

.item-center {
  display: flex;
  justify-content: center;
}

.image-asset {
  display: block;
  width: 200%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.imageOne {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.peralatan-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.peralatan-container {
  width: 100%;
}

.row-reverse {
  flex-direction: row-reverse;
}

.impactfull-card-asset {
  border-image: linear-gradient(to top, #ffffff 0%, #ffffff);
  border-image-slice: 1;
  background-color: transparent;
  backdrop-filter: blur(10px);
  width: 350px;
  height: 300px;
  margin: 5px;
  vertical-align: top;
  border-radius: 5px !important;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }

  .image-asset {
    width: 100%;
    height: auto;
  }

  .imageOne {
    width: 100%;
    height: auto;
  }

  .Cover-content h1 {
    font-size: 40px;
  }

  .peralatan-section {
    justify-content: center;
    align-items: center;
  }
  
  .peralatan-container {
    width: 100%;
  }

  .peralatan-container .pdf {
    width: 100%;
    height: 100vh;
  }

  .h3 {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }

  .h1 {
    margin-left: 10px;
  }

  .asset-h3{
    margin-left: -70px;
  }
}
